#title{
    display: flex;
     place-content :center;
     margin-top: 40px;
}
#maincontainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    
    
}
#container{
    height: 110px;
    width: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding: 100px;
    gap: 20px;
}

#nameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#name{
 padding: 10px 30px;
border-radius: 5px; 
}
#emailContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#email{
    padding: 10px 30px;
    border-radius: 5px;
}
#passwordContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#password{
    padding: 10px 30px;
    border-radius: 5px;
}
#btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .btnInput{
    padding: 10px 30px;
    border-radius: 5px;
} */
.loginText{
    display: flex; 
     justify-content: center;
     margin-bottom: 0;
}
#btn{
    padding: 30px 60px;
    color: black;
}